[data-type="aab/accordion-block"] {
  margin: 0 auto !important;
  .single-accordion-container {
    padding: 15px 0;
    border-top: 1px solid #f00;
  }
  .accordion-head {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    @for $index from 1 to 6 {
      h#{$index} {
        margin: 0 !important;
      }
    }
  }

  .accordion-body {
    padding: 15px 0;
  }

  .collapse-icon span {
    display: block;
  }

  .accordion-heading {
    flex: auto;
  }
  .accordion-body {
    display: none;
  }

  .accordion-body.active {
    display: block !important;
  }
}
